* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffc0e7;
}

header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: blanchedalmond;
}



.button {
    background-color: #232323;
    width: 75px;
    height: 35px;
    color: blanchedalmond;
    border: none;
    margin: 5px;
}

.display{
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.goal-card{
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-img{
    height:200px;
    width: 200px

}

h4{
    font-size: 10px;
}

.frequency{
    display: flex;
    
}



